html, body {
    height: 100%;
}

.theme-container {
    height: 100%;
}

main {
    padding-top: 80px;
    height: inherit;
}

.layout-rtl {
    direction: rtl;

    // fix bootstrap input-group rtl issue
    .input-group .input-group-prepend .input-group-text {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
    
    .input-group .form-control:not(:first-child):last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    
    .input-group .form-control:not(:first-child):not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .input-group .form-control:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    
    .input-group .input-group-append .input-group-text {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-right: none;
    }
    // end of 'fix bootstrap input-group rtl issue'

    // fix list-group-item rtl issue
    .list-group-item {
        text-align: right;
    }
    // end of 'fix list-group-item rtl issue'
}

.layout-ltr {
    direction: ltr;
}

.btn {
    cursor: pointer;
}

.btn-primary:disabled {
    cursor: default;
}

// themes

// green theme
$green-theme-primary-color: #c1d62e;
$green-theme-primary-color-hover: darken($green-theme-primary-color, 5);
$green-theme-primary-color-disabled: rgba($green-theme-primary-color, 0.9);
$green-theme-primary-color-box-shadow: rgba($green-theme-primary-color, 0.25);
$green-theme-secondary-color: #57834b;
$green-theme-secondary-color-hover: darken($green-theme-secondary-color, 5);
$green-theme-secondary-color-disabled: rgba($green-theme-secondary-color, 0.9);
$green-theme-secondary-color-box-shadow: rgba($green-theme-secondary-color, 0.25);
$green-theme-light-color: #d2ffc7;
$green-theme-very-light-color: #f1ffef;

.green-theme {
    background-color: $green-theme-very-light-color;

    .navbar { 
        border-bottom: 3px solid $green-theme-primary-color;
    }

    .navbar-light{
        background-color: $green-theme-light-color !important;

        .navbar-brand {
            color: $green-theme-primary-color;

            &:hover {
                color: $green-theme-primary-color;
            }

            &:focus {
                color: $green-theme-primary-color;
            }
        }
    }

    .list-group-item.active {
        background-color: $green-theme-primary-color;
        border-color: $green-theme-primary-color;
    }
    
    .btn-primary {
        background-color: $green-theme-primary-color;
        border-color: $green-theme-primary-color;

        &:hover {
            background-color: $green-theme-primary-color-hover;
            border-color: $green-theme-primary-color-hover;
        }

        &:disabled {
            background-color: $green-theme-primary-color-disabled;
            border-color: $green-theme-primary-color-disabled;
        }
    }

    .btn-secondary {
        background-color: $green-theme-secondary-color;
        border-color: $green-theme-secondary-color;

        &:hover {
            background-color: $green-theme-secondary-color-hover;
            border-color: $green-theme-secondary-color-hover;
        }

        &:disabled {
            background-color: $green-theme-secondary-color-disabled;
            border-color: $green-theme-secondary-color-disabled;
        }
    }
    
    .form-control {
        &:focus {
            border-color: $green-theme-primary-color;
            box-shadow: 0 0 0 0.2rem $green-theme-primary-color-box-shadow;
        }
    }

    div::-webkit-scrollbar {
        background-color: $green-theme-light-color;
    }

    div::-webkit-scrollbar-thumb {
        background-color: $green-theme-primary-color;
    }
}

// purple theme
$purple-theme-primary-color: #7337ff;
$purple-theme-primary-color-hover: darken($purple-theme-primary-color, 5);
$purple-theme-primary-color-disabled: rgba($purple-theme-primary-color, 0.9);
$purple-theme-primary-color-box-shadow: rgba($purple-theme-primary-color, 0.25);
$purple-theme-secondary-color: #643e6b;
$purple-theme-secondary-color-hover: darken($purple-theme-secondary-color, 5);
$purple-theme-secondary-color-disabled: rgba($purple-theme-secondary-color, 0.9);
$purple-theme-secondary-color-box-shadow: rgba($purple-theme-secondary-color, 0.25);
$purple-theme-light-color: #d2d6ff;
$purple-theme-very-light-color: #eff0ff;

.purple-theme {
    background-color: $purple-theme-very-light-color;

    .navbar { 
        border-bottom: 3px solid $purple-theme-primary-color;
    }

    .navbar-light{
        background-color: $purple-theme-light-color !important;

        .navbar-brand {
            color: $purple-theme-primary-color;

            &:hover {
                color: $purple-theme-primary-color;
            }

            &:focus {
                color: $purple-theme-primary-color;
            }
        }
    }

    .list-group-item.active {
        background-color: $purple-theme-primary-color;
        border-color: $purple-theme-primary-color;
    }
    
    .btn-primary {
        background-color: $purple-theme-primary-color;
        border-color: $purple-theme-primary-color;

        &:hover {
            background-color: $purple-theme-primary-color-hover;
            border-color: $purple-theme-primary-color-hover;
        }

        &:disabled {
            background-color: $purple-theme-primary-color-disabled;
            border-color: $purple-theme-primary-color-disabled;
        }
    }
    
    .btn-secondary {
        background-color: $purple-theme-secondary-color;
        border-color: $purple-theme-secondary-color;

        &:hover {
            background-color: $purple-theme-secondary-color-hover;
            border-color: $purple-theme-secondary-color-hover;
        }

        &:disabled {
            background-color: $purple-theme-secondary-color-disabled;
            border-color: $purple-theme-secondary-color-disabled;
        }
    }

    .form-control {
        &:focus {
            border-color: $purple-theme-primary-color;
            box-shadow: 0 0 0 0.2rem $purple-theme-primary-color-box-shadow;
        }
    }

    div::-webkit-scrollbar {
        background-color: $purple-theme-light-color;
    }

    div::-webkit-scrollbar-thumb {
        background-color: $purple-theme-primary-color;
    }
}